/* importações */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* variáveis globais */
:root{
    --background-color: rgb(228, 239, 255);
}

/* estilos globais */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* corpo da página */
body{
    background-color: var(--background-color) !important;
}

/* alert genérico */
.alert.alert-danger {
  background: linear-gradient(135deg, #ffe5e5, #ffd6d6);
  color: #7a1c1c;
  border: none;
  border-left: 5px solid #dc3545;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(220, 53, 69, 0.15);
  margin: 1rem;
}
